<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to cocktails_path, class: "navbar-brand"  do %>
    <i class="fas fa-cocktail"></i>
  <% end %>

  <%= simple_form_for :cocktail, url: cocktails_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="query" id="search-query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i>
      </button>
    </div>
  <% end %>

<!--

<form action=“/cocktails” method=“get”>
  <input type=“text” name=“query” placeholder=“Find your favorite cocktail?“>
  <input type=“submit”>
</form> -->

  <%= link_to new_cocktail_path  do %>
    <i class="far fa-plus-square"></i> Add a New Cocktail
  <% end %>

</div>
