<div class="container">
  <h1>All <%= Cocktail.count %> Cocktails</h1>

  <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    </div>
  <% end %>

  <%= link_to new_cocktail_path  do %>
    <i class="far fa-plus-square"></i> Add a New Cocktail
  <% end %>
</div>
